<?xml version="1.0" ?>
<config>
  <logger>
    <logFile>log.txt</logFile>
  </logger>
  <dataController>
    <path>./data</path>
  </dataController>
  <server>
    <port>11011</port>
  </server>
  <plugins>
    <ebay>
      <appID></appID>
	  <globalID>EBAY-AT</globalID>
	  <file>Ebay.db</file>
    </ebay>
	<creator>      
	  <file>Creator.db</file>
    </creator>
    <spotify>
      <clientID></clientID>
      <clientSecret></clientSecret>
      <redirectURI>http://localhost:8080/mediaCenter/spotify</redirectURI>
      <timeout>120000</timeout>
    </spotify>
    <tmdb>
      <api_key></api_key>
      <username></username>
      <password></password>
    </tmdb>
  </plugins>
</config>

