<?xml version="1.0" ?>
<config>
  <logger>
    <logFile>log.txt</logFile>
  </logger>

  <server>
    <port>11011</port>
  </server>
  <data>
    <path>./data/</path>
  </data>
  <spotify>
    <clientID></clientID>
    <clientSecret></clientSecret>
    <redirectURI>http://localhost:8080/mediaCenter/spotify</redirectURI>
    <timeout>120000</timeout>
  </spotify>
  <tmdb>
    <api_key></api_key>
    <username></username>
    <password></password>
  </tmdb>
</config>

