#page {
  margin: 0px;  
  overflow-x: hidden;
}
#sidebar { 
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background: #606060;
}
#menuHeader {
  float:top;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 200%;
}
#menuEntry {
  background-color: #606060;
  height: 30px;  
  border-bottom: 1px solid #ffffff;
}
#menuSubEntry {
  background-color: #b0b0b0;
  height: 20px;  
  border-bottom: 1px solid #ffffff;
}
#menuSubEntrySelected {
  background-color: #eeeeee;
  height: 20px;  
  border-bottom: 1px solid #ffffff;
}
#content {   
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 250px; 
  width: calc(100% - 250px);
  background-color: #eeeeee;
  margin-left: 1px;
}
#contentMenu {
  position: relative;
  background-color: #606060;
  height: 38px;
  margin-bottom: 1px;
}
#contentBody {
  overflow-y: auto;
  height: calc(100% - 39px);
}
#contentContainer {
  position: relative; 
}
#contentItem {
  position: absolute; 
}
#searchBox {
  position: absolute;
  width: 200px;
  padding: 6px 15px 6px 28px;
  background: url('./content/search.png') no-repeat 8px 5px;
  border-radius: 14px; 
}
#searchBox, textarea {
  background-color: #eeeeee; 
}


