#page {
  margin: 0px;
}
#sidebar { 
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background: #606060;
}
#menuHeader {
  float:top;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 200%;
}
#menuEntry {
  background-color: #606060;
  height: 30px;  
  border-bottom: 1px solid #ffffff;
}
#menuSubEntry {
  background-color: #b0b0b0;
  height: 20px;  
  border-bottom: 1px solid #ffffff;
}
#menuSubEntrySelected {
  background-color: #eeeeee;
  height: 20px;  
  border-bottom: 1px solid #ffffff;
}
#content { 
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 250px; 
  width: 100%;
  background-color: #eeeeee;
  margin-left: 1px;
}
#contentMenu {
  position: relative;
  background-color: #606060;
  height: 38px;
  width: 100%;
}
#contentContainer {
  position: relative; 
}
#contentItem {
  position: absolute; 
}


